.post_block {
  border: 2px solid #41B3A3;
  padding: 20px 20px;
  margin-bottom: 20px;
  width: 320px;
  height: 400px;
  display: inline-block;
  margin-right: 40px;
  text-overflow: ellipsis;
  cursor: pointer;
  position: relative;
}

.post_main_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post_img {
  object-fit: cover;
  width: 280px;
  height: 240px;
  border: 5px solid #367a71
}

.post_img_and_title,
.post_btns {
  display: flex;
  align-items: center;
  gap: 20px;
}

.post_title {
  font-size: 30px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post_info_block {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.artist_item_delete {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.artist_item_delete_cross {
  margin-bottom: 1px;
  margin-right: 1px;
  font-weight: 500;
}